/* 
    about_styles.css
        - Includes styling for entire "About" page
*/

/* Font used for whole site */
@font-face {
    font-family: 'MadeTommyRegular';
    src: url('MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');
}

/* Main Body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #242424;
    text-align: center;
}

/* Home Button */
.home-button {
    position: absolute;
    top: 40px; 
    left: 150px; 
}

.home-button a {
    color: #707070;
    text-decoration: none;
    font-family: 'MadeTommyRegular', sans-serif;
    padding-top: 10px;
    font-size: large;
}

.home-button a:hover {
    color: #a0a0a0;
}

/* Image Container */
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 427px;
    height: 240px;
}

/* Paragraph Container */
.paragraph-container {
    display: flex;
    justify-content: center;
    margin: 0 180px;
}

.paragraph-container p {
    color: #707070;
    text-decoration: none;
    font-family: 'MadeTommyRegular', sans-serif;
    padding-top: 10px;
    font-size: large;
}

/* Team Logos Container */
.team-logos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.team-logo {
    width: 100px;
    height: auto;
    margin: 0 10px; 
}